body {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

/*styling header*/
#header {
	background-image: url("../images/the-flatiron-building.png");
	color: #fff;
}
#header h1 {
	font-size: 70px;
}
nav {
	padding-bottom: 3px;
	font-size: 18px;
	font-weight: bold;
}
nav ul li {
	list-style: none;
	margin-left: -40px;
	line-height: 1.5em;
}
nav ul li a {
	color: #fff;
}

/*styling main content*/
h2 {
	font-size: 32px;
}
h3{
	font-size: 23px;
}
img.process {
	margin-top: 15px;
	margin-bottom: -10px;
}
#break {
	background-image: url("../images/the-flatiron-building.png");
	color: #fff;
	font-weight: bold;
	font-size: 23px;
	line-height: 1.5em;
}

/*styling footer*/
#footer {
	background-color: dimgray;
	color: #fff;
	text-align: left;
	line-height: 2em;
	padding: 0 5px; 

}
.copy {
	font-size: 11px;
	padding-right: 5px;
}
#footer a {
	color: #fff;
}