body {
	text-align: center;
	font-family: Helvetica, sans-serif;
}
#header {
	background-image: url("../images/the-flatiron-building.png");
	color: #fff;
}

#header h1 {
	font-size: 70px;
}

nav {
	padding-bottom: 3px;
}

#header ul li {
	list-style: none;
	line-height: 1.5em;
}